# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
backend/ev_co_ownership/target/
backend/ev_co_ownership/logs/
backend/ev_co_ownership/*.log
backend/ev_co_ownership/application-*.yml   
backend/ev_co_ownership/application-*.properties
backend/ev_co_ownership/*.env
backend/ev_co_ownership/.idea/
backend/ev_co_ownership/.vscode/
backend/ev_co_ownership/*.iml