server:
  port: 8080

spring:
  application:
    name: evco-backend

  datasource:
    # Nếu bạn chạy mysql qua Docker như compose trên:
    # url: jdbc:mysql://localhost:3307/evco_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    # Nếu dùng XAMPP MySQL port 3306 thì sửa lại cho đúng
    url: jdbc:mysql://localhost:3307/evco_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: evco
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  redis:
    host: localhost
    port: 6379

  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  jwt:
    secret: evco-super-secret
    expires-in: 604800000
